.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.mandatory-icon{
  color: red;
  font-size: 1.2rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.btn-primary {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.login-link {
  margin-top: 15px;
  text-align: center;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.signup-icon {
   font-size: 1.6rem;
   vertical-align: middle;
   margin-right: 10px;
 }

.input-icon {
  vertical-align: bottom;
  margin-right: 8px;
}

.button-icon {
  vertical-align: middle;
  margin-right: 8px;
}
