<app-header></app-header>
<div class="container">
  <div class="proposal-container">
    <div *ngIf="successMessage" class="alert alert-success"> <mat-icon color="primary">check_circle</mat-icon>{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger "><mat-icon color="warn">error</mat-icon>{{ errorMessage }}</div>
    <h2>Project Proposals</h2>
    <form [formGroup]="proposalForm" (ngSubmit)="proposeProject()">

      <input type="hidden" id="projectId" formControlName="_id" *ngIf="editMode"/>
      <div class="form-group">
        <label for="title"><span class="mandatory-field">*</span> Title:</label>
        <input type="text" id="title" formControlName="title" class="form-control" required/>
      </div>

      <div class="form-group">
        <label for="description"><span class="mandatory-field">*</span> Description:</label>
        <textarea id="description" formControlName="description" class="form-control" required></textarea>
      </div>

      <div class="form-group">
        <label for="justification"><span class="mandatory-field">*</span> Justification:</label>
        <textarea id="justification" formControlName="justification" class="form-control" required></textarea>
      </div>

      <button type="submit" class="btn btn-primary m-2">{{ editMode ? 'Update' : 'Create' }} Proposal</button>
      <button type="button" class="btn btn-secondary" *ngIf="editMode" (click)="cancelEdit()">Cancel</button>
    </form>

    <hr/>

    <h3>Your Proposals:</h3>
    <div *ngIf="proposals.length === 0" class="text-muted">No proposals yet.</div>
    <ul class="list-group" *ngIf="proposals.length > 0">
      <li class="list-group-item" *ngFor="let proposal of proposals; let i = index">
        <div class="d-flex justify-content-between">
          <div>
            <strong> Title: {{ proposal.title }}</strong>
            <p>Description: {{ proposal.description }}</p>
            <p>Justification: {{ proposal.justification }}</p>
            <p>Approval Status: {{ proposal.status }}</p>
          </div>
          <div>
            <button class="btn btn-primary" (click)="editProposal(i)">Edit</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #confirmDialog let-dialogRef>
    <h2 mat-dialog-title>Confirm Deletion</h2>
    <mat-dialog-content>
      Are you sure you want to delete this proposal?
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="dialogRef.close()">Cancel</button>
      <button mat-button color="warn" (click)="dialogRef.close(true)">Delete</button>
    </mat-dialog-actions>
  </ng-template>


</div>
