<app-header></app-header>
<div>
  <!--<h2>Bulk Upload Student Information</h2>
  <form [formGroup]="uploadForm">
    <input type="file" (change)="onFileChange($event)"/>
    <button (click)="uploadFile()">Upload</button>
  </form>
  <div *ngIf="uploadData">
    <h3>Uploaded Data</h3>
    <table>
      <thead>
      <tr>
        <th class="m-5">Email</th>
        <th class="m-5">Password</th>
        <th class="m-5">Registration Number</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of uploadData">
        <td>{{ student.email }}</td>
        <td>{{ student.password }}</td>
        <td>{{ student.registrationNumber }}</td>
        <td>
          <button (click)="editStudent(student)">Edit</button>
          <button (click)="deleteStudent(student)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>-->
</div>

